In [355]:
import pandas as pd
import numpy as np
from utils import *
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import torch
from torch.utils.data import DataLoader
from scipy.special import expit


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
train_data,test_data = get_data()

In [53]:
train_data

,match_id,season,venue,innings,ball,striker,non_striker,bowler,runs_off_bat,extras,...,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,wicket,wickets_left,total_runs,runs_left
50,598068,2013,M Chinnaswamy Stadium,2,0.1,MEK Hussey,M Vijay,R Rampaul,4,0,...,0.0,0.0,0,NaN,NaN,NaN,0,10,4,107.0
51,598068,2013,M Chinnaswamy Stadium,2,0.2,MEK Hussey,M Vijay,R Rampaul,1,0,...,0.0,0.0,0,NaN,NaN,NaN,0,10,1,103.0
52,598068,2013,M Chinnaswamy Stadium,2,0.3,M Vijay,MEK Hussey,R Rampaul,1,0,...,0.0,0.0,0,NaN,NaN,NaN,0,10,1,102.0
53,598068,2013,M Chinnaswamy Stadium,2,0.4,MEK Hussey,M Vijay,R Rampaul,0,0,...,0.0,0.0,0,NaN,NaN,NaN,0,10,0,101.0
54,598068,2013,M Chinnaswamy Stadium,2,0.5,MEK Hussey,M Vijay,R Rampaul,1,0,...,0.0,0.0,0,NaN,NaN,NaN,0,10,1,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,598065,2013,"Rajiv Gandhi International Stadium, Uppal",2,19.2,KK Cooper,PV Tambe,DW Steyn,4,0,...,0.0,0.0,0,NaN,NaN,NaN,0,2,4,33.0
241,598065,2013,"Rajiv Gandhi International Stadium, Uppal",2,19.3,KK Cooper,PV Tambe,DW Steyn,4,0,...,0.0,0.0,0,NaN,NaN,NaN,0,2,4,29.0
242,598065,2013,"Rajiv Gandhi International Stadium, Uppal",2,19.4,KK Cooper,PV Tambe,DW Steyn,0,0,...,0.0,0.0,caught,KK Cooper,NaN,NaN,1,2,0,25.0
243,598065,2013,"Rajiv Gandhi International Stadium, Uppal",2,19.5,PV Tambe,SK Trivedi,DW Steyn,1,0,...,0.0,0.0,0,NaN,NaN,NaN,0,1,1,25.0
244,598065,2013,"Rajiv Gandhi International Stadium, Uppal",2,19.6,SK Trivedi,PV Tambe,DW Steyn,0,0,...,0.0,0.0,0,NaN,NaN,NaN,0,1,0,24.0

In [9]:
    # df_cleaned = df_cleaned.loc[(df_cleaned.noballs == 0) & (df_cleaned.wides == 0)] #select only those that are not noballs or wides
((train_data.noballs == 0) & (train_data.wides == 0)).index.values

array([ 50,  51,  52, ..., 242, 243, 244])

In [32]:
DLR = pd.read_csv("DLR.csv")

In [33]:
DLR

        0     1     2     3     4     5     6     7     8    9
0   100.0  96.8  92.6  86.7  78.8  68.2  54.4  37.5  21.3  8.3
1    96.1  93.3  89.2  83.9  76.7  66.6  53.5  37.3  21.0  8.3
2    92.2  89.6  85.9  81.1  74.2  65.0  52.7  36.9  21.0  8.3
3    88.2  85.7  82.5  77.9  71.7  63.3  51.6  36.6  21.0  8.3
4    84.1  81.8  79.0  74.7  69.1  61.3  50.4  36.2  20.8  8.3
5    79.9  77.9  75.3  71.6  66.4  59.2  49.1  35.7  20.8  8.3
6    75.4  73.7  71.4  68.0  63.4  56.9  47.7  35.2  20.8  8.3
7    71.0  69.4  67.3  64.5  60.4  54.4  46.1  34.5  20.7  8.3
8    66.4  65.0  63.3  60.6  57.1  51.9  44.3  33.6  20.5  8.3
9    61.7  60.4  59.0  56.7  53.7  49.1  42.4  32.7  20.3  8.3
10   56.7  55.8  54.4  52.7  50.0  46.1  40.3  31.6  20.1  8.3
11   51.8  51.1  49.8  48.4  46.1  42.8  37.8  30.2  19.8  8.3
12   46.6  45.9  45.1  43.8  42.0  39.4  35.2  28.6  19.3  8.3
13   41.3  40.8  40.1  39.2  37.8  35.5  32.2  26.9  18.6  8.3
14   35.9  35.5  35.0  34.3  33.2  31.4  29.0  24.6  17.8  8.1
15   30.4  30.0  29.7  29.2  28.4  27.2  25.3  22.1  16.6  8.1
16   24.6  24.4  24.2  23.9  23.3  22.4  21.2  18.9  14.8  8.0
17   18.7  18.6  18.4  18.2  18.0  17.5  16.8  15.4  12.7  7.4
18   12.7  12.5  12.5  12.4  12.4  12.0  11.7  11.0   9.7  6.5
19    6.4   6.4   6.4   6.4   6.4   6.2   6.2   6.0   5.7  4.4

In [105]:
def get_RU(balls,wickets_left,table = DLR):

    RU = list(map(lambda b,w:DLR.iloc[int(b),10-w],balls,wickets_left))
    return np.array(RU)

In [106]:
get_RU([0.1,0.2,0.3,19.1],[10,9,8,10])

array([100. ,  96.8,  92.6,   6.4])

In [57]:
dummy_df = train_data.query('match_id == 598068')

In [82]:
wicket_value = [1.30,1.35,1.40,1.45,1.38,1.18,0.98,0.79,0.59,0.39,0.19]

In [63]:
np.ones(len(dummy_df))[((dummy_df.noballs == 0) & (dummy_df.wides == 0)).tolist()]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [261]:
def calculate_PI_3(match_df,wicket_value = wicket_value):
    # match_df = df[match_id == id]
    balls = np.ones(len(match_df))
    balls[((match_df.noballs > 0) | (match_df.wides >0 )).tolist()] = 0


    balls_consumed = np.cumsum(balls) - balls #runs consumed before this ball is bowled
    
    # 'extras', 'wides', 'noballs',
    #    'byes', 'legbyes', 'penalty'

    balls_left = 120 - balls_consumed
    # print(balls_left)
    runs_left = match_df.runs_left.tolist()
    # print(balls_left[0],match_df.runs_left.tolist()[0])
    CRRR = np.array(list(map(lambda r,b:r*6/b,runs_left,balls_left)))  # (CRRR/balls_consumed)*6
   
    IRRR = runs_left[0]/20
    state_ratio = CRRR/IRRR
    RU = get_RU(match_df.ball,match_df.wickets_left)
    
    batsmen =[]
    for st,n_st in zip(match_df.striker,match_df.non_striker):
        if st not in batsmen:
            batsmen.append(st)
        if n_st not in batsmen:
            batsmen.append(n_st)
    
    # print(match_df.striker.unique(),match_df.non_striker.unique())
    batsmen_weights = dict(zip(batsmen,wicket_value))  #  batsman_weights = {unique_batsman : vals from table}
    
    wicket_weight = np.zeros(len(match_df))
    # if wicket == 1, wicket_weight[idx] = batsman_weight[batsman]
    wicket_weight[(match_df.wicket==1).tolist()] = [batsmen_weights[batter] for batter in match_df.query("wicket == 1")['player_dismissed'].tolist()]
    wicket_weight = np.cumsum(wicket_weight)/11

    pi_3 = list(map(lambda x,y:x*1/2*y,state_ratio,np.exp(RU/100) + np.exp(wicket_weight)))
    # match_df['balls_left'] = balls_left
    return pi_3,balls_left
    # 
    #

In [262]:
calculate_PI_3(dummy_df)

([1.8591409142295225,
  1.8747639471222075,
  1.8906517771825653,
  1.837890307548493,
  1.853734189510118,
  1.8698536172449882,
  1.8335114654052853,
  1.8381763728947011,
  1.854588661938404,
  1.9362473238742985,
  1.916136084855087,
  1.9337153149913724,
  1.9024834604827574,
  1.9202636797396058,
  1.9383793748314888,
  1.9568401307822647,
  1.9632303924575332,
  1.9822908817046938,
  1.9492623235093858,
  1.9685619504748249,
  2.0721722036569257,
  2.050300136188785,
  2.058112568895782,
  2.066086082689521,
  1.989163671046555,
  1.9572048087416523,
  1.9780261364942229,
  1.9857864831500416,
  2.007371118836455,
  2.0294301421203715,
  1.9910916577979818,
  2.0134634741777346,
  2.0363437409297545,
  2.0597499908254986,
  2.189671907506775,
  2.1675484818137605,
  2.1478977799975913,
  2.173776066503586,
  2.2002855307292397,
  2.212193045862562,
  2.2398454589358443,
  2.2525551887333846,
  2.2206029938250746,
  2.3527485696889023,
  2.3323629507946237,
  2.3466989878444253,
  2.3614224853550323,
  2.37654936635908,
  2.3684163220817163,
  2.3843701368661,
  2.4184325673927587,
  2.4355736847116325,
  2.4532189525398853,
  2.471390944780921,
  2.583000891645858,
  2.5658534278479297,
  2.527570605322473,
  2.567690773660925,
  2.52820265598647,
  2.5490914123572432,
  2.5348949445650115,
  2.556901060247469,
  2.6009855612862185,
  2.516455400680713,
  2.473068238600011,
  2.4955506771327385,
  2.458413257113732,
  2.5047984129083307,
  2.481818610955043,
  2.5061241707133277,
  2.5313828896778197,
  2.7130605616046006,
  2.7099246991706964,
  2.7106697150719934,
  2.7419783622369582,
  2.774648254930835,
  2.7477099223586916,
  2.781233180670693,
  2.8162802234514217,
  2.8529573612452075,
  2.85593931443069,
  2.895743346687564,
  2.937537580557281,
  2.887323262940918,
  2.9310956121788663,
  3.010314412508025,
  3.020666346073878,
  3.072449197720859,
  3.2816511023531723,
  3.324352501098125,
  3.4250904556768558,
  3.4919867536392943,
  3.5631989417928582,
  3.606821595263861,
  3.564388400025463,
  3.5117127093846925,
  3.467816300517384,
  3.546202744923292,
  3.630395592618527,
  3.721064813213396,
  3.8699074057419303,
  3.93374178468287,
  4.104774036190821,
  4.291354674199495,
  4.375819432866279,
  4.594610404509592,
  4.83643200474694,
  4.62962285717061,
  4.828790126706484,
  4.975117100243044,
  4.8973808955517475,
  5.140954336917813,
  5.4193239841933165,
  5.94960360299446,
  6.328601771031777,
  6.117648378664051,
  6.558732744523842,
  7.088033983555591,
  7.313050935414498,
  8.068967258065516,
  9.040859672902538,
  10.000833976131297,
  11.750979921954274,
  14.376198840688737,
  18.751563705246184,
  27.502293434361068,
  56.53188979449475],
 array([120., 119., 118., 117., 116., 115., 114., 113., 112., 111., 110.,
        109., 108., 107., 106., 105., 104., 103., 102., 101., 100.,  99.,
         98.,  97.,  96.,  95.,  94.,  93.,  92.,  91.,  90.,  89.,  88.,
         87.,  86.,  85.,  84.,  83.,  82.,  81.,  80.,  79.,  78.,  77.,
         76.,  75.,  74.,  73.,  72.,  71.,  70.,  69.,  68.,  67.,  66.,
         65.,  64.,  63.,  62.,  61.,  60.,  59.,  58.,  57.,  56.,  55.,
         54.,  53.,  53.,  52.,  51.,  50.,  49.,  48.,  47.,  46.,  46.,
         45.,  44.,  43.,  42.,  41.,  40.,  39.,  38.,  37.,  36.,  35.,
         35.,  34.,  33.,  32.,  31.,  30.,  30.,  29.,  29.,  28.,  27.,
         26.,  25.,  24.,  23.,  22.,  21.,  20.,  19.,  18.,  17.,  16.,
         16.,  15.,  14.,  13.,  12.,  12.,  11.,  10.,   9.,   8.,   7.,
          6.,   5.,   4.,   3.,   2.,   1.]))

In [263]:
train_PI = []
for id in train_data['match_id'].unique():
    match_df = train_data.query("match_id == @id")
    # print(id)
    pi,balls_l = (calculate_PI_3(match_df))
    if balls_l[-1] ==0:
        print(id)

In [241]:
pd.set_option('display.max_rows', 20)

In [242]:
dummy_df = train_data.query("match_id == 548315")

In [243]:
np.sum(dummy_df.noballs == 1)

0

In [244]:
np.sum(dummy_df.wides == 1)

6

In [245]:
a,b = calculate_PI_3(dummy_df)

/var/folders/jp/l319lw651tb48gz1j9rnkrjm0000gn/T/ipykernel_7686/565197433.py:19: RuntimeWarning: divide by zero encountered in double_scalars
  CRRR = np.array(list(map(lambda r,b:r*6/b,runs_left,balls_left)))  # (CRRR/balls_consumed)*6

In [246]:
dummy_df = dummy_df.copy()

In [247]:
dummy_df['B'] = b

In [248]:
dummy_df.query("extras == 1")[['ball','wides','legbyes','extras']]

     ball  wides  legbyes  extras
189  11.2    1.0      0.0       1
190  11.3    0.0      0.0       1
197  12.3    1.0      0.0       1
209  14.2    1.0      0.0       1
215  15.1    1.0      0.0       1
217  15.3    1.0      0.0       1
222  15.8    0.0      1.0       1
231  17.3    1.0      0.0       1

In [249]:
dummy_df.tail(15)

,match_id,season,venue,innings,ball,striker,non_striker,bowler,runs_off_bat,extras,...,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,wicket,wickets_left,total_runs,runs_left,B
234,548315,2012,M Chinnaswamy Stadium,2,17.6,R Vinay Kumar,HV Patel,Shakib Al Hasan,1,0,...,0.0,0,NaN,NaN,NaN,0,3,1,61.0,14.0
235,548315,2012,M Chinnaswamy Stadium,2,17.7,HV Patel,R Vinay Kumar,Shakib Al Hasan,0,0,...,0.0,bowled,HV Patel,NaN,NaN,1,3,0,60.0,13.0
236,548315,2012,M Chinnaswamy Stadium,2,18.1,R Vinay Kumar,Z Khan,RN ten Doeschate,0,2,...,0.0,0,NaN,NaN,NaN,0,2,2,60.0,12.0
237,548315,2012,M Chinnaswamy Stadium,2,18.2,Z Khan,R Vinay Kumar,RN ten Doeschate,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,58.0,11.0
238,548315,2012,M Chinnaswamy Stadium,2,18.3,R Vinay Kumar,Z Khan,RN ten Doeschate,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,57.0,10.0
239,548315,2012,M Chinnaswamy Stadium,2,18.4,Z Khan,R Vinay Kumar,RN ten Doeschate,4,0,...,0.0,0,NaN,NaN,NaN,0,2,4,56.0,9.0
240,548315,2012,M Chinnaswamy Stadium,2,18.5,Z Khan,R Vinay Kumar,RN ten Doeschate,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,52.0,8.0
241,548315,2012,M Chinnaswamy Stadium,2,18.6,R Vinay Kumar,Z Khan,RN ten Doeschate,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,51.0,7.0
242,548315,2012,M Chinnaswamy Stadium,2,18.7,Z Khan,R Vinay Kumar,RN ten Doeschate,2,0,...,0.0,0,NaN,NaN,NaN,0,2,2,50.0,6.0
243,548315,2012,M Chinnaswamy Stadium,2,19.1,R Vinay Kumar,Z Khan,Shakib Al Hasan,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,48.0,5.0
244,548315,2012,M Chinnaswamy Stadium,2,19.2,Z Khan,R Vinay Kumar,Shakib Al Hasan,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,47.0,4.0
245,548315,2012,M Chinnaswamy Stadium,2,19.3,Z Khan,R Vinay Kumar,Shakib Al Hasan,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,46.0,3.0
246,548315,2012,M Chinnaswamy Stadium,2,19.4,R Vinay Kumar,Z Khan,Shakib Al Hasan,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,45.0,2.0
247,548315,2012,M Chinnaswamy Stadium,2,19.5,Z Khan,R Vinay Kumar,Shakib Al Hasan,1,0,...,0.0,0,NaN,NaN,NaN,0,2,1,44.0,1.0
248,548315,2012,M Chinnaswamy Stadium,2,19.6,R Vinay Kumar,Z Khan,Shakib Al Hasan,0,0,...,0.0,caught,R Vinay Kumar,NaN,NaN,1,2,0,43.0,0.0

In [250]:
dummy_df.columns

Index(['match_id', 'season', 'venue', 'innings', 'ball', 'striker',
       'non_striker', 'bowler', 'runs_off_bat', 'extras', 'wides', 'noballs',
       'byes', 'legbyes', 'penalty', 'wicket_type', 'player_dismissed',
       'other_wicket_type', 'other_player_dismissed', 'wicket', 'wickets_left',
       'total_runs', 'runs_left', 'B'],
      dtype='object')

In [251]:
dummy_df[((dummy_df.extras >0) & (dummy_df.wides == 0) & 
           (dummy_df.noballs == 0) & (dummy_df.byes == 0) & 
           (dummy_df.legbyes == 0) & (dummy_df.penalty == 0))]

Empty DataFrame
Columns: [match_id, season, venue, innings, ball, striker, non_striker, bowler, runs_off_bat, extras, wides, noballs, byes, legbyes, penalty, wicket_type, player_dismissed, other_wicket_type, other_player_dismissed, wicket, wickets_left, total_runs, runs_left, B]
Index: []

[0 rows x 24 columns]

In [257]:
dummy_df.query("ball == 18.1")[['extras', 'wides', 'noballs', 'byes', 'legbyes', 'penalty']]

     extras  wides  noballs  byes  legbyes  penalty
236       2    2.0      0.0   0.0      0.0      0.0

# Model

In [266]:
train_PI = []
for id in train_data['match_id'].unique():
    match_df = train_data.query("match_id == @id")
    # print(id)
    pi,balls_l = (calculate_PI_3(match_df))
    train_PI.extend(pi)

In [285]:
test_PI = []
for id in test_data['match_id'].unique():
    match_df = test_data.query("match_id == @id")
    pi,balls_l = calculate_PI_3(match_df)
    test_PI.extend(pi)

In [270]:
class pi_3_model(torch.nn.Module):

    def __init__(self,input_size) -> None:
        super().__init__()
        self.comb_layer = torch.nn.Linear(input_size,1)
    
    def forward(self,x):

        out = self.comb_layer(x)
        reg_out = F.relu(out)

        return reg_out

In [273]:
encode_venue(train_data,test_data)

In [275]:
train_data.head()

,match_id,season,venue,innings,ball,striker,non_striker,bowler,runs_off_bat,extras,...,venue_36,venue_37,venue_38,venue_39,venue_40,venue_41,venue_42,venue_43,venue_44,venue_45
50,598068,2013,M Chinnaswamy Stadium,2,0.1,MEK Hussey,M Vijay,R Rampaul,4,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,598068,2013,M Chinnaswamy Stadium,2,0.2,MEK Hussey,M Vijay,R Rampaul,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,598068,2013,M Chinnaswamy Stadium,2,0.3,M Vijay,MEK Hussey,R Rampaul,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,598068,2013,M Chinnaswamy Stadium,2,0.4,MEK Hussey,M Vijay,R Rampaul,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,598068,2013,M Chinnaswamy Stadium,2,0.5,MEK Hussey,M Vijay,R Rampaul,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [286]:
train_data['PI_3'] = train_PI
test_data['PI_3'] = test_PI

In [287]:
train_cols = ['innings', 'ball','wickets_left','runs_left','PI_3']
train_cols.extend([f'venue_{no}' for no in range(train_data.venue.nunique())])
target_cols = ['runs_off_bat']

In [288]:
train_data[train_cols]

,innings,ball,wickets_left,runs_left,PI_3,venue_0,venue_1,venue_2,venue_3,venue_4,...,venue_36,venue_37,venue_38,venue_39,venue_40,venue_41,venue_42,venue_43,venue_44,venue_45
50,2,0.1,10,107.0,1.859141,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,2,0.2,10,103.0,1.804679,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,2,0.3,10,102.0,1.802304,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,2,0.4,10,101.0,1.799887,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,2,0.5,10,101.0,1.815403,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2,19.2,2,33.0,10.124467,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
241,2,19.3,2,29.0,11.121574,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
242,2,19.4,2,25.0,13.274902,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243,2,19.5,1,25.0,19.837498,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,2,19.6,1,24.0,38.087997,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [336]:
train_dataset = torch.utils.data.TensorDataset(torch.Tensor(train_data[train_cols].values),torch.Tensor(train_data[target_cols].values))
test_dataset = torch.utils.data.TensorDataset(torch.Tensor(test_data[train_cols].values),torch.Tensor(test_data[target_cols].values))

In [344]:
train_loader = DataLoader(train_dataset,batch_size=len(train_dataset),shuffle=True)
test_loader = DataLoader(test_dataset,batch_size=len(test_dataset))

In [338]:
device = torch.device('cpu')

In [339]:
pi_model = pi_3_model(len(train_cols))
pi_model.to(device)

pi_3_model(
  (comb_layer): Linear(in_features=51, out_features=1, bias=True)
)

In [340]:
loss_reg = torch.nn.MSELoss()
# loss_class = torch.nn.BCELoss()
optimizer = torch.optim.Adam(pi_model.parameters())

In [341]:
epochs = 500

In [342]:
for epoch in range(epochs):
    epoch_loss = 0
    # torch.nn.init.xavier_uniform_(model.pressure_layer.all_weights,gain= 'sigmoid')
    for batch,data in enumerate(train_loader):
        
        optimizer.zero_grad()
        x,target = data
        x = x.to(device)
        target = target.to(device)
 
        out = pi_model(x)

        loss = loss_reg(out,target)
 
        loss.backward()

        optimizer.step()

        epoch_loss += loss.item()

    print(epoch_loss)

164.84947204589844
161.74581909179688
158.67404174804688
155.63470458984375
152.62832641601562
149.65541076660156
146.71644592285156
143.8118133544922
140.94198608398438
138.1073760986328
135.3083038330078
132.54515075683594
129.8181915283203
127.12771606445312
124.47405242919922
121.85737609863281
119.27791595458984
116.73587036132812
114.23139953613281
111.76461791992188
109.3355941772461
106.94441986083984
104.59111022949219
102.27564239501953
99.99803161621094
97.75817108154297
95.5560302734375
93.3915023803711
91.26445770263672
89.17478942871094
87.12230682373047
85.10682678222656
83.12818145751953
81.18614196777344
79.2804946899414
77.41092681884766
75.57717895507812
73.77892303466797
72.01585388183594
70.28768157958984
68.59407043457031
66.93465423583984
65.3091049194336
63.71706771850586
62.158164978027344
60.6319694519043
59.13810348510742
57.676212310791016
56.2458610534668
54.84661865234375
53.47805404663086
52.13975524902344
50.831321716308594
49.55228042602539
48.30227279663086
47.08082580566406
45.88753890991211
44.72196960449219
43.58369827270508
42.472225189208984
41.38711929321289
40.32793426513672
39.294166564941406
38.28543472290039
37.301300048828125
36.34135055541992
35.4051628112793
34.492340087890625
33.6024055480957
32.734920501708984
31.88947296142578
31.06559944152832
30.262924194335938
29.48102569580078
28.7194881439209
27.977895736694336
27.255802154541016
26.552841186523438
25.868614196777344
25.20270347595215
24.554716110229492
23.92435073852539
23.311203002929688
22.714868545532227
22.13501739501953
21.571218490600586
21.02313804626465
20.49041175842285
19.97267723083496
19.469602584838867
18.980836868286133
18.50603485107422
18.044857025146484
17.596946716308594
17.16200065612793
16.739700317382812
16.329736709594727
15.931835174560547
15.545682907104492
15.170953750610352
14.80739688873291
14.454699516296387
14.11257553100586
13.780753135681152
13.458951950073242
13.146954536437988
12.844490051269531
12.551247596740723
12.267010688781738
11.991552352905273
11.724587440490723
11.465895652770996
11.215277671813965
10.972492218017578
10.737290382385254
10.509519577026367
10.288914680480957
10.075299263000488
9.868444442749023
9.668190002441406
9.47433090209961
9.286670684814453
9.105071067810059
8.929372787475586
8.7593355178833
8.594791412353516
8.435566902160645
8.281502723693848
8.132455825805664
7.988261699676514
7.848780632019043
7.713865756988525
7.58339262008667
7.457233428955078
7.335239410400391
7.217262268066406
7.103184700012207
6.992886543273926
6.886252403259277
6.783170700073242
6.683511734008789
6.587165832519531
6.494039058685303
6.404028415679932
6.317030906677246
6.232937812805176
6.151679039001465
6.073153972625732
5.9972405433654785
5.923871040344238
5.852978229522705
5.784451961517334
5.718240261077881
5.654244899749756
5.59240198135376
5.532652378082275
5.474907398223877
5.419105052947998
5.365199565887451
5.313098907470703
5.262763023376465
5.214123725891113
5.167121887207031
5.121706485748291
5.077811241149902
5.035393714904785
4.994406700134277
4.954783916473389
4.916487693786621
4.879490375518799
4.843749523162842
4.809207916259766
4.775834083557129
4.743589878082275
4.712441921234131
4.682347297668457
4.6532697677612305
4.62516975402832
4.598006248474121
4.571735382080078
4.546351432800293
4.521818161010742
4.498114585876465
4.475208282470703
4.453067779541016
4.431668281555176
4.410994529724121
4.391024112701416
4.371718406677246
4.353060245513916
4.335020065307617
4.317575454711914
4.300706386566162
4.284393310546875
4.268616676330566
4.253359794616699
4.238608360290527
4.224343299865723
4.210548400878906
4.197203159332275
4.184294700622559
4.171810626983643
4.1597418785095215
4.1480631828308105
4.136768817901611
4.125844955444336
4.1152801513671875
4.10506010055542
4.095179080963135
4.085618019104004
4.0763654708862305
4.067402362823486
4.058724880218506
4.050326824188232
4.042202949523926
4.0343403816223145
4.0267333984375
4.019373416900635
4.012251853942871
4.005356311798096
3.9986793994903564
3.992213726043701
3.9859514236450195
3.979891061782837
3.9740283489227295
3.9683563709259033
3.9628684520721436
3.957552671432495
3.952402353286743
3.947413206100464
3.9425809383392334
3.9379007816314697
3.933363676071167
3.928964376449585
3.9247050285339355
3.9205799102783203
3.916583299636841
3.9127118587493896
3.9089620113372803
3.905330181121826
3.90181303024292
3.8984007835388184
3.8950963020324707
3.891894817352295
3.8887970447540283
3.8857955932617188
3.8828890323638916
3.880070209503174
3.877338409423828
3.874687910079956
3.872119665145874
3.8696298599243164
3.867215871810913
3.864872932434082
3.8625993728637695
3.86039400100708
3.8582520484924316
3.8561742305755615
3.8541603088378906
3.852205991744995
3.850311279296875
3.8484740257263184
3.8466930389404297
3.844966411590576
3.8432912826538086
3.8416659832000732
3.8400909900665283
3.838562488555908
3.837078809738159
3.8356387615203857
3.8342411518096924
3.832883358001709
3.831566095352173
3.830287456512451
3.829044818878174
3.8278398513793945
3.826669454574585
3.825533390045166
3.824429750442505
3.8233590126037598
3.8223190307617188
3.821307420730591
3.8203272819519043
3.819375991821289
3.818453073501587
3.817556142807007
3.8166849613189697
3.8158390522003174
3.815016508102417
3.814218044281006
3.813443183898926
3.8126907348632812
3.811960458755493
3.8112518787384033
3.810563564300537
3.8098950386047363
3.8092451095581055
3.8086137771606445
3.8079991340637207
3.8074028491973877
3.806823968887329
3.806262254714966
3.8057162761688232
3.8051862716674805
3.804670810699463
3.8041696548461914
3.803682327270508
3.803208589553833
3.802746057510376
3.8022959232330322
3.8018577098846436
3.801429271697998
3.8010125160217285
3.8006067276000977
3.80021071434021
3.79982590675354
3.7994496822357178
3.7990832328796387
3.798726797103882
3.798379421234131
3.7980408668518066
3.79771089553833
3.797389268875122
3.7970759868621826
3.7967703342437744
3.796473264694214
3.7961835861206055
3.7959015369415283
3.795626640319824
3.795358657836914
3.7950971126556396
3.794842481613159
3.794593334197998
3.79434871673584
3.7941107749938965
3.7938778400421143
3.7936508655548096
3.793428659439087
3.7932121753692627
3.7930002212524414
3.7927932739257812
3.7925913333892822
3.792393207550049
3.7921996116638184
3.7920100688934326
3.791825294494629
3.7916436195373535
3.791466236114502
3.791292190551758
3.791121482849121
3.7909536361694336
3.7907893657684326
3.790628433227539
3.790470600128174
3.790315628051758
3.7901644706726074
3.790015459060669
3.7898693084716797
3.7897260189056396
3.7895853519439697
3.7894468307495117
3.789310932159424
3.789177179336548
3.789045572280884
3.78891658782959
3.7887892723083496
3.788663864135742
3.788541078567505
3.788419246673584
3.7883002758026123
3.7881829738616943
3.78806734085083
3.7879536151885986
3.787842035293579
3.7877321243286133
3.787623405456543
3.787515878677368
3.787409782409668
3.7873053550720215
3.7872023582458496
3.7871007919311523
3.7870004177093506
3.7869012355804443
3.7868030071258545
3.7867062091827393
3.7866101264953613
3.786515474319458
3.786421298980713
3.7863285541534424
3.7862367630004883
3.7861456871032715
3.7860560417175293
3.7859675884246826
3.785879373550415
3.7857916355133057
3.7857046127319336
3.7856194972991943
3.785534381866455
3.7854502201080322
3.7853667736053467
3.785283327102661
3.78520131111145
3.7851197719573975
3.7850379943847656
3.7849576473236084
3.784877061843872
3.784797191619873
3.7847185134887695
3.7846391201019287
3.7845611572265625
3.7844836711883545
3.7844057083129883
3.7843286991119385
3.784252166748047
3.7841756343841553
3.78410005569458
3.784024238586426
3.7839488983154297
3.7838737964630127
3.783799171447754
3.783724546432495
3.7836503982543945
3.783576488494873
3.783503293991089
3.7834298610687256
3.7833569049835205
3.7832837104797363
3.7832114696502686
3.7831387519836426
3.7830662727355957
3.782994031906128
3.7829220294952393
3.7828502655029297
3.78277850151062
3.7827067375183105
3.782635450363159
3.7825639247894287
3.7824926376342773
3.782421588897705
3.782350778579712
3.7822799682617188
3.7822084426879883
3.782137870788574
3.782067060470581
3.781996488571167
3.781925678253174
3.7818548679351807
3.7817845344543457
3.7817139625549316
3.7816431522369385
3.7815728187561035
3.7815020084381104
3.7814316749572754
3.7813613414764404
3.7812907695770264
3.781219959259033
3.781149387359619
3.781079053878784
3.781008720397949
3.780937910079956
3.780867099761963
3.780796527862549
3.7807257175445557
3.7806553840637207
3.7805848121643066
3.7805140018463135
3.7804434299468994
3.7803726196289062
3.780301332473755
3.780230760574341
3.7801599502563477
3.7800886631011963
3.780017375946045
3.7799465656280518
3.7798752784729004
3.779803991317749
3.7797327041625977
3.779661178588867
3.7795896530151367
3.779517412185669
3.7794458866119385
3.779374361038208
3.7793021202087402
3.7792303562164307
3.779158353805542
3.779085874557495
3.7790136337280273
3.7789409160614014
3.7788686752319336
3.7787959575653076
3.7787232398986816
3.7786502838134766
3.7785770893096924
3.7785043716430664
3.7784311771392822
3.77835750579834
3.7782843112945557
3.778210401535034
3.778136730194092
3.7780628204345703

In [348]:
pi_model.eval()
for data in train_loader:
    x,target = data
    x = x.to(device)
    target = target.to(device)

    out = pi_model(x)
    print(mean_squared_error(train_data[target_cols],out.detach().numpy()))

3.722692501322215

In [346]:
pi_model.eval()
for data in test_loader:
    x,target = data
    x = x.to(device)
    target = target.to(device)

    out = pi_model(x)
    print(mean_squared_error(test_data[target_cols],out.detach().numpy()))

4.25984333409529

## PI-3 with sigmoid

In [369]:
train_data['PI_3_squashed'] = expit(train_data['PI_3'])
test_data['PI_3_squashed'] = expit(test_data['PI_3'])

In [376]:
model_2_train_cols = ['innings', 'ball','wickets_left','runs_left','PI_3_squashed']
model_2_train_cols.extend([f'venue_{no}' for no in range(train_data.venue.nunique())])

In [377]:
pi_model_2 = pi_3_model(len(model_2_train_cols))
pi_model_2.to(device)

pi_3_model(
  (comb_layer): Linear(in_features=51, out_features=1, bias=True)
)

In [378]:
train_dataset_2 = torch.utils.data.TensorDataset(torch.Tensor(train_data[model_2_train_cols].values),torch.Tensor(train_data[target_cols].values))
test_dataset_2 = torch.utils.data.TensorDataset(torch.Tensor(test_data[model_2_train_cols].values),torch.Tensor(test_data[target_cols].values))

In [379]:
train_loader_2 = DataLoader(train_dataset,batch_size=len(train_dataset),shuffle=True)
test_loader_2 = DataLoader(test_dataset,batch_size=len(test_dataset))

In [380]:
# loss_reg = torch.nn.MSELoss()
optimizer_2 = torch.optim.Adam(pi_model_2.parameters())

In [381]:
for epoch in range(epochs):
    epoch_loss = 0
    # torch.nn.init.xavier_uniform_(model.pressure_layer.all_weights,gain= 'sigmoid')
    for batch,data in enumerate(train_loader_2):
        
        optimizer_2.zero_grad()
        x,target = data
        x = x.to(device)
        target = target.to(device)
 
        out = pi_model_2(x)

        loss = loss_reg(out,target)
 
        loss.backward()

        optimizer_2.step()

        epoch_loss += loss.item()

    print(epoch_loss)

206.65150451660156
203.09901428222656
199.5786590576172
196.09092712402344
192.6363983154297
189.21556091308594
185.82891845703125
182.47689819335938
179.16000366210938
175.8786163330078
172.63314819335938
169.4239501953125
166.2514190673828
163.11587524414062
160.017578125
156.9568634033203
153.93392944335938
150.94900512695312
148.00230407714844
145.09397888183594
142.22418212890625
139.3930206298828
136.60057067871094
133.84693908691406
131.1321258544922
128.4561309814453
125.81896209716797
123.22058868408203
120.66096496582031
118.14000701904297
115.65762329101562
113.21367645263672
110.80805969238281
108.4405746459961
106.11109161376953
103.81941223144531
101.56529998779297
99.34857177734375
97.16898345947266
95.02627563476562
92.92017364501953
90.85042572021484
88.81675720214844
86.81886291503906
84.8564453125
82.92918395996094
81.03677368164062
79.17887115478516
77.35511779785156
75.56521606445312
73.80880737304688
72.08551788330078
70.39498138427734
68.73687744140625
67.11080932617188
65.51641845703125
63.95330810546875
62.421104431152344
60.91946029663086
59.44794845581055
58.00624084472656
56.593894958496094
55.21056365966797
53.855831146240234
52.529335021972656
51.23067092895508
49.9594612121582
48.715301513671875
47.4978141784668
46.306617736816406
45.14132308959961
44.00153732299805
42.88687515258789
41.796958923339844
40.73139190673828
39.68980026245117
38.67181396484375
37.67703628540039
36.705101013183594
35.75563430786133
34.828250885009766
33.9225959777832
33.03829574584961
32.174983978271484
31.332294464111328
30.509870529174805
29.707355499267578
28.924388885498047
28.160621643066406
27.415700912475586
26.689281463623047
25.98101806640625
25.290576934814453
24.617616653442383
23.96179962158203
23.32279396057129
22.700281143188477
22.09392547607422
21.503408432006836
20.928415298461914
20.36863136291504
19.823745727539062
19.29344940185547
18.777441024780273
18.275419235229492
17.78708839416504
17.312156677246094
16.850332260131836
16.401330947875977
15.964877128601074
15.540678977966309
15.12846851348877
14.727980613708496
14.338947296142578
13.96110725402832
13.594199180603027
13.237966537475586
12.892159461975098
12.556527137756348
12.230831146240234
11.914824485778809
11.60826587677002
11.310931205749512
11.022597312927246
10.743035316467285
10.472027778625488
10.20935344696045
9.95479679107666
9.708150863647461
9.469208717346191
9.23776912689209
9.013636589050293
8.796625137329102
8.586541175842285
8.38320541381836
8.186429977416992
7.996034622192383
7.8118462562561035
7.633696556091309
7.461410999298096
7.294830799102783
7.133792877197266
6.978139877319336
6.827715873718262
6.682368755340576
6.541950702667236
6.406323432922363
6.275341987609863
6.148871898651123
6.026777744293213
5.908925533294678
5.795191287994385
5.685448169708252
5.579573154449463
5.477448463439941
5.378957748413086
5.283985614776611
5.192420959472656
5.1041579246521
5.019089221954346
4.937111854553223
4.858125686645508
4.782027244567871
4.708725929260254
4.6381330490112305
4.5701584815979
4.504713535308838
4.441712856292725
4.381075382232666
4.322722434997559
4.266573905944824
4.212551116943359
4.160583972930908
4.110601425170898
4.062532901763916
4.016312599182129
3.9718751907348633
3.9291574954986572
3.8880982398986816
3.8486385345458984
3.810720682144165
3.774289131164551
3.7392897605895996
3.7056705951690674
3.6733791828155518
3.642366409301758
3.612583875656128
3.583987236022949
3.5565311908721924
3.5301733016967773
3.5048718452453613
3.4805855751037598
3.457277774810791
3.434907913208008
3.4134390354156494
3.3928377628326416
3.3730692863464355
3.354100465774536
3.335899829864502
3.318437337875366
3.3016834259033203
3.285609006881714
3.270186185836792
3.2553889751434326
3.2411916255950928
3.227569103240967
3.214498281478882
3.2019567489624023
3.189920663833618
3.178370237350464
3.167285203933716
3.1566452980041504
3.146432876586914
3.1366288661956787
3.1272170543670654
3.1181797981262207
3.109501361846924
3.1011664867401123
3.0931594371795654
3.0854666233062744
3.0780739784240723
3.0709681510925293
3.0641367435455322
3.0575666427612305
3.051245927810669
3.0451650619506836
3.0393126010894775
3.033677816390991
3.028252124786377
3.023024797439575
3.0179874897003174
3.0131311416625977
3.0084478855133057
3.003929615020752
2.999568462371826
2.9953575134277344
2.9912896156311035
2.9873578548431396
2.9835565090179443
2.9798784255981445
2.976318597793579
2.9728710651397705
2.9695308208465576
2.9662926197052
2.963151454925537
2.9601030349731445
2.9571430683135986
2.9542665481567383
2.951469898223877
2.948749303817749
2.9461007118225098
2.94352126121521
2.941007375717163
2.9385554790496826
2.9361631870269775
2.9338269233703613
2.931544780731201
2.9293131828308105
2.9271302223205566
2.9249939918518066
2.922901153564453
2.9208498001098633
2.9188389778137207
2.9168648719787598
2.9149270057678223
2.9130234718322754
2.9111526012420654
2.9093124866485596
2.907501697540283
2.905719041824341
2.9039628505706787
2.9022324085235596
2.9005258083343506
2.8988423347473145
2.897181272506714
2.895540714263916
2.893920421600342
2.8923192024230957
2.8907358646392822
2.8891701698303223
2.887620210647583
2.8860864639282227
2.8845677375793457
2.8830630779266357
2.881572961807251
2.8800952434539795
2.8786306381225586
2.8771774768829346
2.8757359981536865
2.8743059635162354
2.8728864192962646
2.8714773654937744
2.870077610015869
2.868687391281128
2.86730694770813
2.8659346103668213
2.8645710945129395
2.863215923309326
2.861868381500244
2.8605289459228516
2.859196424484253
2.8578708171844482
2.8565526008605957
2.855241298675537
2.853935956954956
2.852637529373169
2.8513448238372803
2.8500585556030273
2.848778247833252
2.847503185272217
2.846234083175659
2.844970464706421
2.843712568283081
2.8424596786499023
2.841212034225464
2.8399691581726074
2.8387322425842285
2.8374998569488525
2.8362717628479004
2.8350489139556885
2.8338308334350586
2.8326172828674316
2.831408977508545
2.830204725265503
2.829005718231201
2.827810764312744
2.826620101928711
2.825434446334839
2.8242533206939697
2.823076009750366
2.8219029903411865
2.820734739303589
2.819570302963257
2.8184103965759277
2.8172543048858643
2.8161027431488037
2.814954996109009
2.8138105869293213
2.812670946121216
2.811535120010376
2.810403823852539
2.8092761039733887
2.808152914047241
2.807033061981201
2.805917501449585
2.8048064708709717
2.803698778152466
2.8025949001312256
2.801494836807251
2.8003990650177
2.799307346343994
2.7982194423675537
2.7971346378326416
2.7960543632507324
2.7949776649475098
2.7939047813415527
2.7928357124328613
2.791771173477173
2.7907092571258545
2.789651870727539
2.78859806060791
2.787548542022705
2.7865025997161865
2.785461187362671
2.784423828125
2.7833898067474365
2.782360315322876
2.78133487701416
2.78031325340271
2.7792959213256836
2.778282403945923
2.777272939682007
2.7762672901153564
2.775265693664551
2.774268627166748
2.773275375366211
2.7722859382629395
2.7713005542755127
2.7703194618225098
2.7693417072296143
2.7683682441711426
2.7673988342285156
2.766433000564575
2.7654714584350586
2.764512777328491
2.7635586261749268
2.7626073360443115
2.761660099029541
2.760716438293457
2.7597768306732178
2.758841037750244
2.7579100131988525
2.756981372833252
2.7560577392578125
2.7551381587982178
2.7542223930358887
2.753310203552246
2.7524020671844482
2.751497745513916
2.7505974769592285
2.7497012615203857
2.7488088607788086
2.747920513153076
2.747035503387451
2.746154546737671
2.7452774047851562
2.7444043159484863
2.7435355186462402
2.7426700592041016
2.7418086528778076
2.7409512996673584
2.740097761154175
2.7392477989196777
2.738401412963867
2.7375595569610596
2.7367212772369385
2.735886573791504
2.7350552082061768
2.7342283725738525
2.7334048748016357
2.7325847148895264
2.731769323348999
2.730956554412842
2.7301483154296875
2.729343891143799
2.7285428047180176
2.727745532989502
2.7269515991210938
2.726161479949951
2.725374698638916
2.7245917320251465
2.7238121032714844
2.723036289215088
2.722264289855957
2.7214958667755127
2.720731019973755
2.7199695110321045
2.7192108631134033
2.718456268310547
2.717705011367798
2.7169573307037354
2.7162132263183594
2.715472936630249
2.714735984802246
2.714002847671509
2.7132728099823
2.7125468254089355
2.711824417114258
2.7111051082611084
2.7103893756866455
2.70967698097229
2.708967685699463
2.7082622051239014
2.707559823989868
2.7068605422973633
2.706165075302124
2.7054731845855713
2.704784393310547
2.704099655151367
2.7034175395965576
2.7027390003204346
2.702064037322998
2.7013919353485107
2.700723886489868
2.7000584602355957
2.699397087097168
2.6987388134002686
2.6980838775634766
2.697432518005371
2.696784257888794
2.696139335632324
2.695497989654541
2.694859266281128
2.6942250728607178
2.6935930252075195
2.692965030670166
2.692340135574341
2.691718339920044
2.6911003589630127
2.6904850006103516
2.689873218536377
2.6892642974853516
2.6886589527130127
2.6880569458007812
2.687457799911499
2.686861991882324
2.6862692832946777
2.6856796741485596
2.685093402862549
2.6845099925994873
2.683929920196533
2.6833527088165283
2.68277907371521
2.682208299636841
2.681640625
2.6810758113861084
2.6805145740509033
2.6799557209014893
2.6794004440307617
2.6788482666015625

In [382]:
pi_model_2.eval()
for data in test_loader:
    x,target = data
    x = x.to(device)
    target = target.to(device)

    out = pi_model_2(x)
    print(mean_squared_error(test_data[target_cols],out.detach().numpy()))

3.022182132312145